.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(rgb(78, 31,31), rgb(31, 78, 31));
}

.title-h1 {
    font-size: 40px;
    font-family: 'New Rocker';
    color: rgb(252, 231, 165);
    margin: 0;
    margin-bottom: 24px;
    text-transform: capitalize;
    text-shadow: 3px 9px rgb(13, 78, 13);
}